<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812221084773-60sm776mhvce61pohs1k72m7ujootu1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812221084773-60sm776mhvce61pohs1k72m7ujootu1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBQGbBIAYvRtc217qubZe8O7uaOVdkffh4</string>
	<key>GCM_SENDER_ID</key>
	<string>812221084773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csbd.portal.isuapp</string>
	<key>PROJECT_ID</key>
	<string>portal-isuapp</string>
	<key>STORAGE_BUCKET</key>
	<string>portal-isuapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812221084773:ios:3a867c1e1a587c3b24c28c</string>
</dict>
</plist>